<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/main.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/img/atom.png" type="image/png" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>@ViewBag.Title</div>
    @RenderBody()
</body>
</html>
