@model LoginModel
@{
    ViewBag.Title = "Вход";
    Layout = "_AdminLayout";
}

<form class="edit" asp-action="Login" asp-controller="Account" method="post">
    <div asp-validation-summary="ModelOnly" style="color : red;"></div>
    <input type="hidden" asp-for="ReturnUrl" />
    <div>
        <label asp-for="Name">Логин</label>
        <div><span asp-validation-for="Name"></span></div>
        <input asp-for="Name" />
    </div>
    <div>
        <label asp-for="Password">Пароль</label>
        <div><span asp-validation-for="Password"></span></div>
        <input asp-for="Password" />
    </div>
    <button class="btn btn-cart" type="submit">Войти</button>
</form>
