@model Cart
<span class="shop">
    <a asp-controller="cart" asp-action="index"
       asp-route-returnurl="@ViewContext.HttpContext.Request.PathAndQuery()">
        <i class="fa fa-shopping-cart fa-1x"></i>
        <span>
            @Model.Lines.Sum(x => x.Quantity)
        </span>
    </a>
    @if (Model.Lines.Count() > 0)
    {
        <small>
            <b>Сумма к оплате:</b>
            @Model.ComputeTotalValue().ToString("c")
        </small>
    }
    else
    {
        <small>
            <b>Ваши покупки</b>
        </small>
    }
</span>
